<div class="container">
    <div class="sub-container">
        <div class="header">
            <div class="logo"></div>
            <div class="profile-logo"></div>
        </div>
        <div class="middle">
            <div class="availabe-status">
                <div class="available">
                    <mat-slide-toggle ><span class="av-tittle">Available</span></mat-slide-toggle>
                    <br><span class="av-text">Enable this option to make yourself available and keep you online</span>
                </div>
            </div>
            <div class="bell-language">
            <div class="bell"> <i class="fa fa-bell" style="color:orange;font-size:24px"></i></div>
                <div class="Language">
                    <select name="language" id="languages" class="language">
                        <option value="">Language</option>
                    <option value="">English</option>
                    <option value="">Telugu</option>
                    <option value="">Hindi</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="cancvasing-report">
        <div class="canvassing">
            <img src="assets\home\canvasing.webp" class="imagess">
        </div>
        <div class="incident">
            <img src="assets\home\Incident-Reporting.png" class="imagess">
            
        </div>
    </div>
</div>
